body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #66d2d6, #97dbab);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

fieldset {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

legend {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    padding: 0 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.form-group-dois {
    display: center;
    flex-direction: column;
    width: 100%;
}

.form-group-tres {
    display: center;
    flex-direction: column;
    width: 100%;
}

.form-group {
    display: center;
    flex-direction: column;
    width: 100%;
}

fieldset form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



